<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Wait a minute...</h1>
	<div class="progress">
		<div class="progress-bar progress-bar-stripedi bg-info" role="progressbar" style="width: {{data.percent}}%" aria-valuenow="{{data.percent}}" aria-valuemin="0" aria-valuemax="100"> {{data.percent}}%</div>
	</div>
    <p class="lead">
	{{data.complete}} out of {{data.total_user}} users completed their profile. Help the community gather insightfull data and tell a friend !
  	<a class="btn" href="/user/login">Login and edit your profile please !</a>
    </p>
  </div>
</div>


